.box{
  width: 42px;
  height: 25px;
  margin-left: 2px;
  color: white;
  text-align: center;
  font-weight: 400;
  background-color: rgb(44, 44, 208);
}

.boxContainer{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  scale: 0.75;
}
